@model IEnumerable<WebAppication.Models.product>

@{
    ViewBag.Title = "Index";
}

<h2 class="cen">List OF Stock</h2>
@Html.ActionLink("Print","Export","Products",new {area="" },new { @class="btn btn-danger"})
@*@Html.ActionLink("ExportExcel", "ExportExcel", "Products", new { area = "" }, new { @class = "btn btn-success" })*@

<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            CurrentNumber
        </th>

        @*<td>
            @Html.DisplayNameFor(mod => mod.Tacked)
        </td>*@
        @*<td>
            @Html.DisplayNameFor(mod=>mod.Available)
        </td>*@
        <th>
            CategoryName
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modle=>item.currentNO)
        </td>
        @*<td>
            @Html.DisplayFor(mod => item.Tacked)
        </td>*@
        @*<td>
            @Html.DisplayFor(mod=>item.Available)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)

        </td>
         <td>
             @Html.DisplayFor(mod=>item.Description)
         </td>
      
    </tr>
}

</table>
